@charset "UTF-8";

body{
  background-color: #e6e6fa
}

#main{
  width: 800px;
  padding: 30px 60px;
  border: #ffb6c1 1px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px
}

.picture:after{
  clear: both;
}

.explanation{
  float: left;
  width: 380px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}
