@charset "UTF-8";

body{
  background-color: #e6e6fa
}

#main{
  width: 800px;
  padding: 30px 60px;
  border: #ffb6c1 1px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px
}

.picture:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
  width: 380px;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}

.btn
{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 8px;
  width: 80px;
  height: 30px;
  padding: 10px;
  border: none;
  font-size: 14px;
}

.btn-submit{
  background-color: cornflowerblue;
}

.btn-reset{
  background-color: indianred;
}

.btn:hover{
  opacity: 0.8;
}

.btn:active{
  background-color: silver;
}

#goods{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

caption{
  padding: 5px;
}

thead th, thead td{
  background-color: salmon;
  color: white;
  text-align: center;
}

th{
  border: 1px solid salmon;
  background-color:pink;
  padding: 5px;
  width: 150px;
  text-align: center;
}

td{
  border: 1px solid salmon;
  background-color: lightgrey;
  padding: 5px;
  width: 80px;
  text-align: center;
}
